.flexContainer{
  display: flex;

}
/* #row{
    border: solid 1em red;
}
#col{
  border: solid 1em green;
} */
.card{
  flex-grow: 1;
}
/* .responsive{
   width: 100%;
   height: auto;
} */

.Generate{
  height: 10rem;
  width: 10rem;
}

.error{
  color: red;
}