.pokeCard{
  flex: 1;
}

.pokeCard p {
  font-weight: bold;
}

.Generate{
  height: 10rem;
  width: 10rem;
}
.warningbtn{
  color: red;
}

.pokeImages {
  height: 80px;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pokeCard img {
  height: auto;
  max-width: 80px;
}
