.pokeCard {
  flex: 1;
}

.pokeCard p {
  font-weight: bold;
}

.pokeCard img {
  max-height: 80px;
  max-width: 80px;
}

.team {
  flex: 1;
}

.team img {
  max-height: 40px;
  max-width: 40px;
}

.team p {
  font-weight: bold;
}

.d-flex {
  align-items: flex-end;
}

.errorMessage {
  color: red;
}

@media only screen and (max-width: 375px) {
  /* moves logo image to middle of screen when in mobile view */
  .imageStyle {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .userButtons {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.warningbtn {
  color: red;
}

.buttonStyle {
  margin-left: 5px;
}

.checkBoxStyle {
  margin-left: 15px;
}

.labelStyle {
  margin-left: 5px;
}

.titleStyle {
  text-align: center;
}

.delete {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: transparent;
  color: red;
}

.resultStyle {
  text-align: center;
  display: block;
}

/* fonts */

.font {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  text-align: center;
}

.centerLogo {
  position: initial;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  right: 50%;
  padding-left: 45px;
}

.centerBurgerMenu {
  position: sticky;
  z-index: 1;
  right: 90%;
}

#logo {
  margin-left: auto;
  margin-right: auto;
}

.welcomeStyle {
  margin-top: 10px;
  margin-left: 13px;
}